# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
.venv/
venv/

# Django
*.log
local_settings.py
db.sqlite3

# Environment
.env*

# Tooling
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.swp
